<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers List</title>
</head>
<body>
    <h1>Customers List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cart</th>
            </tr>
        </thead>
        <tbody>
            <% customers.forEach(customers => { %>
                <tr>
                    <td><%= customers.cust_id %></td>
                    <td><%= customers.username %></td>
                    <td><%= customers.cart %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
